name: release with python wheel

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  dist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Build SDist and wheel
        run: pipx run build

      # Step 5: Create a GitHub release
      - name: Create Release
        id: release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            dist/*.whl

      # Step 6: Upload the wheel to the release
      - name: Upload wheel to GitHub Release
        uses: actions/upload-artifact@v5
        with:
          name: wheel
          path: dist/*.whl